<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunova.psinfo.mapper.AdMapper">

    <insert id="insertLog" parameterType="com.sunova.psinfo.entities.AdLog">
        insert into ad_modify_log (userid,password,modifyTime) VALUES (#{userid},#{password},now());
    </insert>

</mapper>
